/* ================================== TO DO LIST STYLE ================================== */


.container {
  margin-left: 20%;
}

.task {
  background-color: burlywood;
  color: #e9e3e3;
  padding: 20px;
  border-left: 5px solid #eee;
  transition: 0.6s;
  margin:0px
}
.task:hover {
  cursor: pointer;
  opacity: 0.64;
}
.task p:last-child {
  margin-bottom: 0;
}
.task + .task {
  margin-top: 25px;
}




.task-success {
  background-color: #0000004b;
  border-left-color: #00000093;
  text-decoration: line-through;
  color: rgb(0, 0, 0);
  font-style: serif;
  border-radius: 5px;
  height: 10px;
  width: 310px;
   margin-top: 10px;
   text-align: center;
}

.task-success:hover {
  transform: scale(1.1, 1.1);
}

.task-info {
  background-color: #000000e3;
  border-left-color: #fafafa69;
  color: rgb(255, 255, 255);
  height: 10px;
  width: 310px;
  font-family:serif;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
    text-align: center;
}
.task-info:hover {
  transform: scale(1.1, 1.1);
}
.form-control {
  background-color: #ffffff;
  font: inherit;
  padding: 0.9em 0.1em;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;

}
::placeholder {
  color: rgb(0, 0, 0);
  opacity: 2; /* Firefox */
  font-family: "Times New Roman", Times, serif;
}
.input-group-btn {
  width: 20px;
  height: 50px;
  margin-top: -50px;
  margin-left: 360px;
}
.btn1 {
  background-color: rgb(3, 3, 3);
  padding: 0.9em 0.1em;
  height: 53px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #eee;
  text-align: center;
 
}
.close {
  margin-left: 150px;
}
footer {
  color: grey;
}
@media (max-width: 360px){
  
.form-control {

  width: 274px;
  height: 4px;
  margin-left: -34px
}
::placeholder {
 font-size:15px ;
}
.input-group-btn {
  width: 20px;
  height: 50px;
  margin-top: -3px;
  margin-left: -38px;
}
.btn {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #0000004d;
padding: 2px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 67px;
}

.btn1 {
  background-color: rgb(3, 3, 3);
  padding: 0.9em 0.1em;
  height: 53px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #eee;
  text-align: center;
}
.btn1 {
background-color: hsl(357, 50%, 22%);
padding: 0.9em 0.1em;
height: 39px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
color: #eee;
text-align: center;
width: 271px
}

.task-info{
background-color: #000000e3;
border-left-color: #fafafa69;
color: rgb(255, 255, 255);
height: 0px;
width: 202px;
font-family: serif;
border-radius: 5px;
font-size: 17px;
margin-top: 10px;
text-align: center;
margin-left: -21px;
}
.task-success {
  background-color: #0000004b;
  border-left-color: #00000093;
  text-decoration: line-through;
  color: rgb(0, 0, 0);
  font-style: serif;
  border-radius: 5px;
  height: 0px;
  width: 202px;
  margin-top: 10px;
  text-align: center;
  margin-left: -21px;

}
}